body {
  overflow-x: hidden;
}

.navbar .nav-link {
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 3rem !important;
  padding-right: 1rem !important;
}

.navbar-brand {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
.navbar-nav{
  padding-left: 10rem;
}
.floatrighter{
  margin-top: 4px;
  padding-left: 8rem;
}
.dropdown-menu {
  min-width: 96px !important;
}
.dropdown-item{
  font-size: 13px;
}
.dropdown-item:hover{
  background-color: #0062CC;
}
.carousel-item {
  height: 550px;
}

.carousel-image-1 {
  background: url('../img/image1-3-2.png');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/image2-3.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/image3.png');
  background-size: cover;
}

.progress{
  margin:70px;
  height:30px;
  font-size: 13px;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../img/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#whatweare{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

#info{
  margin-top: 50px;
  margin-bottom: 50px
}

#about{
  margin-top: 60px;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#longbox{
  height:150px;
}
#shortbox{
  height:50px;
}
#introtext{
  margin-left: 97px;
}
#video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url('https://source.unsplash.com/user/skoposate123/likes/2000x500');
  background-position: 0 -500px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
  background: #000;
  color: #fff;
}

.show-on-hover:hover>.dropdown-menu {
  display: block;
}
